* {
    box-sizing: border-box;
  }
  
  
  body {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  
  .header{
    
    margin-bottom: 0px;
    position: relative; /* Mantém no fluxo normal */
   
  }

  .iconCC{
    border-radius: 50%;
  }
  
  
  .bgImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* coloca a imagem atrás*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  
  
  
  .container {
    
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px; 
    width: 500px;  
    margin: auto;
  }
  
  .h1Reg {
    margin-top: 0; 
    margin-bottom: 20px; 
  }
  
  
  .container > form {
    background-color: rgba(222, 226, 234, 0.70);
    width: 90%; 
    margin-top: 0px;
    padding: 30px; 
    border-radius: 15px;
    
  }
  
  .inputDadosReg {
    background-color: rgba(124, 125, 126, 0.7);
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px; 
    border-radius: 10px;
    width: 90%; 
    margin-bottom: 10px; 
    border: 5px solid transparent; 
  }
  
  .inputDadosReg::placeholder {
    color: #000000; 
    opacity: 0.8; 
  }
  
  .iconImage {
    display: block; 
    margin: 0 auto; 
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  
  

  
  .buttonSubmit {
    background: #2cd084 !important;
    padding: 6.5px;
    border-radius: 10px;
    width: 40%;  
    margin: 0 auto;  
    display: block;  
    text-align: center;  
    border: 1px solid green;
    cursor: pointer;
  }
  
  .pErros {
    color: rgb(255, 0, 0);
  }
  
  .textReg {
    text-align: center;  
    margin-top: 15px;    
    color: #242323;   
          
  }
  
  .regLinks {
    color: #242323;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  
  .regLinks:hover {
    color: rgb(0, 95, 236);
    text-decoration: underline;
  }