* {
    box-sizing: border-box;
  }

 

  body {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  
  .headerlog{
    
    margin-bottom: 0px;
    position: relative; 
   
  }

  .iconCC{
    border-radius: 50%;
  }
  
  .bgImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  
  .containerlog {
  
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px; 
    width: 500px;  
    margin: auto;
    margin-bottom: 0px;
  }
  
  .h1Log {
    margin-top: 0; 
    margin-bottom: 20px; 
  }
  
  
  .containerlog > form {
    background-color: rgba(222, 226, 234, 0.70);
    width: 90%; 
    margin-top: 0px;
    padding: 30px; 
    border-radius: 15px;
    
  }
  
  .inputDadosLog {
    background-color: rgba(124, 125, 126, 0.7);
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px; 
    border-radius: 10px;
    width: 90%; 
    margin-bottom: 20px; 
    border: 5px solid transparent; 
  }
  
  .inputDadosLog::placeholder {
    color: #000000; 
    opacity: 0.8; 
  }
  
  .iconImage {
    display: block; 
    margin: 0 auto; 
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  
  
 
  
  .buttonEntrar {
    background: #2cd084 !important;
    padding: 6.5px;
    border-radius: 10px;
    width: 40%;  
    border: 1px solid green;
    display: block;  
    text-align: center;  
    margin: 0 auto 25px; 
    cursor: pointer;
  }
  
 
  
  .textLog {
    text-align: center;  
    margin-top: 5px;    
    color: #242323;   
          
  }
  
  .logLinks {
    color: #242323;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  
  .logLinks:hover {
    color: rgb(0, 95, 236);
    text-decoration: underline;
  }
  
  
  .password-field {
    position: relative;
  }
  
  .password-field input {
    padding-right: 40px;
  }
  
  .passwordEye {
    position: absolute;
    right: 35px;
    top: 37%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  .passwordEye:hover {
    color: #000;
  }
  