* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #E9DEDE;
}

header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  gap: 10px;
}

header p {
  font-weight: bold;
  font-size: 20px;
}

.imgHeaderVol {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.mainName {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  margin: 20px 520px 0;
  border-radius: 15px;
  margin-bottom: 30px;
}

.mainName h1 {
  margin: 15px 0;
  font-weight: bold;
  font-size: 40px;
}

.choose1 {
  display: flex;
  width: 100%;
}
  
  .tabs1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .tab1 {
    flex: 1;
    background-color: #FFAEAE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 60px;
    text-align: center; /* ver se tiro ou não */
  }
  
  .tab1.active {
    background-color: #FF7C7C;
  }
  
  .search-wrapper1 {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search1 {
    background-color: #E8F1FF;
    flex: 1;
    padding: 10px 20px 10px 40px;
    padding-right: 500px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 0 50px 0 20px;
  }
  
  .search-icon1 {
    position: absolute;
    left: 35px;
    color: #888;
  }
  
  .search1::placeholder {
    margin-left: 3px;
  }

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  max-width: 1440px; /* Ajuste conforme o tamanho dos cards e gaps */
  margin: 0 auto;
  padding: 20px 60px;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 430px;
  height: 650px;
  display: flex;
  flex-direction: column;
}

.userTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.imgUsers {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.card h2 {
  background-color: #ffeef0;
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
  padding: 10px 15px;
  flex: 1;
}

.imgPedidos {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
  margin: 15px 0;
}

.card p {
  background-color: #f9f3f0;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 0.95rem;
  flex: 1;
  overflow-y: auto;
  max-height: 100px;
  scrollbar-width: none;
}

.card p::-webkit-scrollbar {
  display: none;
}

.infoPedido {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 10px;
  font-weight: bold;
}

.infoPedido span {
  background-color: #FAEEE7;
  padding: 8px 16px;
  border-radius: 15px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.estadoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin: 0 10px;
}

.estado {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.estado-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 5px;
}

.vermelho {
  background-color: red;
}

.amarelo {
  background-color: yellow;
}

.verde {
  background-color: green;
}


.controlesAcao {
  display: flex;
  gap: 15px;
}

.EditDeleteButtons {
  border: none;
  background: none;
  padding: 5px;
  cursor: pointer;
  font-size: 30px;
}


.adicionarIcon {
  font-size: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card.adicionar-card {
  position: relative;
  cursor: pointer;
}


.infoExtraPedido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.infoBox {
  display: flex;
  align-items: center;  /* Centraliza verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background-color: #fef4ef;
  padding: 10px 20px;
  border-radius: 10px;
}

.icon, .caresIcon {
  font-size: 20px;
  display: flex;
  align-items: center;
}


.desc {
  
  background-color: #FAEEE7;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 0.95rem;
  max-height: 100px;
  overflow-y: auto;
  scrollbar-width: none;
  width: 95%;
  height: 100px;
  margin: 0 auto 10px auto;
}


.descP {
  margin-top: 5px;
  text-align: left;
}

.caresIcon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
